.end-container {
  background: white;
  padding: 7% 10% 7% 10%;
}

h1 {
  font-size: 50px;
  padding-bot: 30px;
}

p {
  padding: 5px 5px 5px 5px;
  postion: absolute;
  font-size: large;
  text-align: center;
}
