.mt-2{
    margin-top: 2rem;
}
.mr-3{
    margin-right:3rem;
}

.mem-profile{
    background-color: #163172;
    color: #fff;
    height:97vh;
}
.mem-profile p {
    margin-left: 2%;
    padding: 0.5%;
    text-align: left;
}
.mem-profile h1{
    text-align: left;
}
.mem-profile p::after{
    content:'';
    display: block;
    padding-top: 1.5%;
    width:100%;
    height:100%;
  margin-right:-100%;
  border-bottom:1px solid #fff;
}

.mem-profile p:hover{
    background-color: #fff;
    color: #163172;
    padding-top: 0.5%;
}
.working-image img{
    margin-top:40%;
    height: 40vh;
    width: 20vw;
}
.ongoing-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top:8%;
    padding-bottom:2%;
}
.mem-project{
    width: 18rem;
    height: 10rem;
    /* background-color:#D6E4F0; */
    background:
    linear-gradient(135deg, #D6E4F0 21px, #163172 22px, #163172 24px, transparent 24px, transparent 67px, #163172 67px, #163172 69px, transparent 69px),
    linear-gradient(225deg, #D6E4F0 21px, #163172 22px, #163172 24px, transparent 24px, transparent 67px, #163172 67px, #163172 69px, transparent 69px)0 64px;
    background-color:#D6E4F0;
    box-shadow:  0px 6px 10px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 1.5rem;
    color: #163172;
    outline: none;
}
.mem-project:hover{
    /* background-color: gray;
    font-size: 2rem;
    box-shadow: 5px 10px 5px black;
    color: #D6E4F0; */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.two-icons{
    margin-top:70%;
    margin-left:10%;
    color: #fff;
}
.two-icons a{
    color: #fff;
}
/*-----------------------------------------------------------------*/
.status-modal{
    width: 50vw;
    height: 60vh;
    top:50%;
    left : 50%;
    right:auto;
    bottom : auto;
    transform : translate(50%, 25%);
    background-image: repeating-linear-gradient(45deg, rgba(0,0,0,0.04),rgba(0,0,0,0.08),rgba(0,0,0,0.05),rgba(0,0,0,0.04),rgba(0,0,0,0.01),rgba(0,0,0,0.1),rgba(0,0,0,0.09),rgba(0,0,0,0.1),rgba(0,0,0,0.03),
    transparent,rgba(0,0,0,0.07),rgba(0,0,0,0.03),rgba(0,0,0,0.06) 4px),linear-gradient(90deg, rgb(193, 255, 253),rgb(59, 104, 247));
}
.button-modal{
    padding: 1%;
    position: relative;
    left: 45%;
    margin-top: 4%;
    font-size: 1rem;
    background-color: rgb(59, 104, 247);
    color: black;
}
.button-modal:hover{
    background-color: rgb(193, 255, 253) ;
    color: rgb(59, 104, 247);
}

/*-------------------------------------------------------------------*/
.meet-chat{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    margin-top:80%;
    justify-content: space-between;
    align-items: center;
    margin-left:25%;
}
.meet{
    background-image: radial-gradient(circle at 53% 25%, rgba(203, 203, 203,0.04) 0%, rgba(203, 203, 203,0.04) 36%,transparent 36%, transparent 100%),
    radial-gradient(circle at 48% 27%, rgba(22, 22, 22,0.04) 0%, rgba(22, 22, 22,0.04) 45%,transparent 45%, transparent 100%),
    radial-gradient(circle at 65% 50%, rgba(219, 219, 219,0.04) 0%, rgba(219, 219, 219,0.04) 61%,transparent 61%, transparent 100%),
    radial-gradient(circle at 78% 82%, rgba(229, 229, 229,0.04) 0%, rgba(229, 229, 229,0.04) 26%,transparent 26%, transparent 100%),
    radial-gradient(circle at 99% 75%, rgba(96, 96, 96,0.04) 0%, rgba(96, 96, 96,0.04) 31%,transparent 31%, transparent 100%),
    radial-gradient(circle at 17% 28%, rgba(188, 188, 188,0.04) 0%, rgba(188, 188, 188,0.04) 15%,transparent 15%, transparent 100%),
    radial-gradient(circle at 19% 19%, rgba(25, 25, 25,0.04) 0%, rgba(25, 25, 25,0.04) 68%,transparent 68%, transparent 100%),
    radial-gradient(circle at 35% 23%, rgba(31, 31, 31,0.04) 0%, rgba(31, 31, 31,0.04) 18%,transparent 18%, transparent 100%),
    linear-gradient(180deg, rgb(138, 193, 238),rgb(20, 21, 171));
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 25vh;
    width: 20vw;
}

.chat{
    background-image: radial-gradient(circle at 53% 25%, rgba(203, 203, 203,0.04) 0%, rgba(203, 203, 203,0.04) 36%,transparent 36%, transparent 100%),
    radial-gradient(circle at 48% 27%, rgba(22, 22, 22,0.04) 0%, rgba(22, 22, 22,0.04) 45%,transparent 45%, transparent 100%),
    radial-gradient(circle at 65% 50%, rgba(219, 219, 219,0.04) 0%, rgba(219, 219, 219,0.04) 61%,transparent 61%, transparent 100%),
    radial-gradient(circle at 78% 82%, rgba(229, 229, 229,0.04) 0%, rgba(229, 229, 229,0.04) 26%,transparent 26%, transparent 100%),
    radial-gradient(circle at 99% 75%, rgba(96, 96, 96,0.04) 0%, rgba(96, 96, 96,0.04) 31%,transparent 31%, transparent 100%),
    radial-gradient(circle at 17% 28%, rgba(188, 188, 188,0.04) 0%, rgba(188, 188, 188,0.04) 15%,transparent 15%, transparent 100%),
    radial-gradient(circle at 19% 19%, rgba(25, 25, 25,0.04) 0%, rgba(25, 25, 25,0.04) 68%,transparent 68%, transparent 100%),
    radial-gradient(circle at 35% 23%, rgba(31, 31, 31,0.04) 0%, rgba(31, 31, 31,0.04) 18%,transparent 18%, transparent 100%),
    linear-gradient(180deg, rgb(138, 193, 238),rgb(20, 21, 171));
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 25vh;
    width: 20vw;
}